.card {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-areas:
    'name name'
    'logo company'
    'city city';
  column-gap: 0.5em;
  row-gap: 1em;
  background-color: var(--color-surface-primary);
  border-radius: 1.5em;
  padding: 1em;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s;
}

.card:hover {
  background-color: var(--color-primary);
}

.card__logo {
  grid-area: logo;
  align-self: center;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  background-color: #fff;
  border-radius: 50%;
}

.card__company {
  grid-area: company;
  margin: 0;
  align-self: center;
  font-weight: 400;
  font-size: 1em;
}

.card__name {
  margin: 0;
  grid-area: name;
  font-weight: 800;
  font-size: 1.2em;
  line-height: 1.2;
}

.card__city {
  font-weight: 400;
  grid-area: city;
  justify-self: left;
  align-self: start;
  border-radius: 0.5em;
  padding: 0.1em 0.5em;
  border: 1px solid var(--color-surface-variant);
  transition: border-color 0.2s;
}

.card:hover .card__city {
  border-color: var(--color-on-surface);
}
