.history {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.history__title {
  font-size: 1.4em;
  font-weight: 800;
  margin: 0;
}

.history__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.history__item {
  border: 1px solid var(--color-surface-variant);
  border-radius: 0.5em;
  padding: 0.1em 0.5em;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.history__item:hover {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border-color: transparent;
}

.history__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.history__link::after {
  content: ' →'
}
